* {
  box-sizing: border-box;
}

body {
  background: url("https://i.imgur.com/dUt5qaf.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;           
  align-items: center;
  font-family: 'Yeseva One', serif;
}


header{
  color: slateblue;
  font-size: 8vmin;
}


h2 {
  color: #E5CCFF;
  font-size: 4vmin;
  margin: 0;
  text-align: center;
}

button {
  margin-top: 5vmin;
  background-color: #CCCCFF;
  color: black;
  border-radius: 2vmin;
  font-size: 4vmin;
  text-align: center;
  margin: auto;
  display: flex;
  cursor: pointer;
  pointer-events: auto
}

#timer-message{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px
}

button:disabled {
  background-color: white;
  color: #CCCCFF;
}

button:hover:not(:disabled) {
  background-color: #CCE5FF;
  color: #CCCCFF;
}


#timer {
  color: white;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
}

p {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  padding: 5px 16px;
  font-size: 22px;
  border-radius: 10px;
  background-color: #CCCCFF;
  color: black;
  cursor: pointer;
  pointer-events: auto
}

.grid-container {
display: grid;
justify-content: center;
grid-gap: 16px;
grid-template-columns: repeat(8, 100px);
grid-template-rows: repeat(3, calc(100px / 2 * 3));
}

.card {
height: calc(100px / 2 * 3);
width: 100px;
border-radius: 10px;
background-color: white;
position: relative;
border: 6px solid white;
border-radius: 12%;
transform-style: preserve-3d;
transition: all 0.5s ease-in-out;
cursor: pointer;
}

.front-image {
width: 90px;
height: 140px;
}

.card.flipped {
transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  border-radius: 10px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card .front {
display: flex;
justify-content: center;
align-items: center;
}

.card .back {
background-image: url("./images/backcard.jpg");
background-position: center center;
background-size: cover;
backface-visibility: hidden;
}


.card .front {
transform: rotateY(180deg);
}


#message{
  color: lightyellow;
  font-size: 40px;
  padding:6px 10px;
  
}
#restart{
  display: none
}