* {
  box-sizing: border-box;
}

body {
  background-image: url("https://i.imgur.com/dUt5qaf.jpeg");
  background-size: cover;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;           
  align-items: center;
  font-family: 'Yeseva One', serif;
}


header{
  color: slateblue;
  font-size: 8vmin;
}


h2 {
  color: #E5CCFF;
  font-size: 4vmin;
  margin: 0;
  text-align: center;
}


.squares {
  margin: 48px auto;
  width: max-content;
  display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}


.sq {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://i.imgur.com/SsjtEgV.jpg");
  background-size: cover;
  border: 2px solid white;
  border-radius: 15%;
  cursor: pointer;
}


#sq>div.avail:hover {
  border-color: indigo;
}


button {
  margin-top: 5vmin;
  background-color: #CCCCFF;
  color: black;
  border-radius: 2vmin;
  font-size: 4vmin;
  text-align: center;
  margin: auto;
  display: flex;
}


button:disabled {
  background-color: white;
  color: #CCCCFF;
}

button:hover:not(:disabled) {
  background-color: #CCE5FF;
  color: #CCCCFF;
}


.timer {
  color: white;
  font-size: 27px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  
}